
    <div class="dashboard-container">
<!-- 
  <header>
    <nav>
    
        <app-header></app-header>
    </nav>
  </header> -->
  <main>
    <div class="dashboard-content">
      <!-- Add your dashboard widgets and content here -->
      <div class="widget">
  <h3>
    <a routerLink="/customer">Customer Management</a>
  </h3>
  <p>customer Management</p>
</div>

      <div class="widget">
        <h3>
<a routerLink="/bill-management">Bill Management</a>
        </h3>
        <p>bill Management</p>
      </div>
    </div>
  </main>
  <!-- <aside>
    <ul>
      <li *ngFor="let item of data">
        {{ item.name }}: {{ item.value }}
      </li>
    </ul>
  </aside> -->
</div>
