
 <!-- <app-header></app-header> -->
<div class="container ">
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Add Customer Data</h5>
      <form (ngSubmit)="uploadCSV()" enctype="multipart/form-data">
        <div class="form-group">
          <label for="csvFile">Choose CSV File</label>
          <input type="file" id="csvFile" name="csvFile" accept=".csv" (change)="onFileSelected($event)" required>
        </div>
        <button type="submit" class="btn btn-primary" (click)="uploadCSV()" style="background-color: #333; border: #333;">Upload CSV</button>
      </form>
    </div>
  </div>
  </div>